#experiences {
  $section-margin-bottom: 30px;
  $entry-margin-top: 5px;
  $section-max-width: 700px;
  $section-margin-left: 10px;

  .education-section {
    margin-bottom: $section-margin-bottom;

    .education-entry-component {
      margin-left: $section-margin-left;
      margin-top: $entry-margin-top;

      .date-degree-container {
        display: flex;
        justify-content: space-between;
        max-width: $section-max-width;
      }
      .location {
        display: flex;
        margin-top: 5px;
        
        .material-icons {
          font-size: 12pt;
          margin-right: 10px;
        }
      }
    }
  }

  .work-section {
    margin-bottom: $section-margin-bottom;

    .experience-entry-component {
      margin-left: $section-margin-left;
      margin-top: $entry-margin-top;

      .date-position-container {
        display: flex;
        justify-content: space-between;
        max-width: $section-max-width;
      }
      .location {
        display: flex;
        margin-top: 5px;

        .material-icons {
          font-size: 12pt;
          margin-right: 10px;
        }
      }
    }

    .project-entry-component {
      max-width: $section-max-width;
      
      .detail {
        margin-bottom: 5px;
      }
    }
  }

  .activities-section {
    .activities-list {
      margin-left: $section-margin-left;
      max-width: $section-max-width;

      .detail {
        margin-bottom: 5px;
      }
    }
  }
}