#profile {
  .basic-info-photo {
    display: flex;
    margin: 20px; 

    .photo img {
      width: 100px;
    }

    .basic-info {
      margin-left: 20px;
      margin-top: 10px;

      .location {
        display: flex;
        margin-top: 5px;
        
        .material-icons {
          font-size: 12pt;
          margin-right: 10px;
        }
      }
    }
  }
}