#skills {
  .skill-container {
    display: flex;
    flex-wrap: wrap;

    .skill-type-selector-component {
      width: 350px;
      margin-left: 5px;
      margin-right: 5px;
      
      .skill-type-row {
        .skill-type-name {
          width: 180px;
        }
      }
    }
  }
}