html, body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
  font-family: Montserrat;
  font-size: 42pt;
  font-weight: bold;
  margin: 0px;
}

h2 {
  font-family: Montserrat;
  font-size: 36pt;
  margin: 0px;
}

h3 {
  font-family: Montserrat;
  font-size: 18pt;
  margin: 0px;
}
