html, body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
  margin: 0px;
  font-family: Montserrat;
  font-size: 10pt;
  font-weight: light;

  // @todo move this elsewhere
  .sections-container {
    div {
      background: white;
    }
  }
}

h1 {
  font-family: Montserrat;
  font-size: 42pt;
  font-weight: bold;
  margin: 0px;
}

h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36pt;
  margin: 0px;
}

h3 {
  font-family: Montserrat;
  font-size: 24pt;
  font-weight: bold;
  margin: 0px;
}

h4 {
  font-family: Montserrat;
  font-size: 18pt;
  font-weight: bold;
  margin: 0px;
}

h5 {
  font-family: Montserrat;
  font-size: 14pt;
  font-weight: bold;
  margin: 0px;
}

p {
  font-family: Montserrat;
  font-size: 10pt;
  font-weight: light;
}

a:link {
  color: black;
  text-decoration: none;
}

// #857b6b

.disabled {
  color: #909083;
}

@import './sections/base_section.scss';
@import './sections/contact.scss';
@import './sections/experiences.scss';
@import './sections/cover.scss';
@import './sections/skills.scss';